.main{
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.buttons{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.cellsWraper{
  width: max-content;
  margin: auto;
}
@media only screen and (max-width: 600px){
  .main{
    padding: 2vmin;
  }
  .buttons button:nth-child(2){
    order: -1;
  }
}
