.cell{
  width: var(--size, 24px);
  height: var(--size, 24px);
  border-radius: calc(var(--size, 24px)/8);
  cursor: pointer;
  background: var(--foreground);
  margin: 1px;
}
.cell.alive{
  background: var(--contrast);
}
