@import '../../Styles/variables';

.cell{
  appearance: none;
  width: var(--size, 24px);
  height: var(--size, 24px);
  border: none;
  border-radius: calc(var(--size, 24px)/8);
  cursor: pointer;
  background: $c-foreground;
  margin: 1px;
}
.cell.alive{
  background: $c-contrast;
}
.cell:focus-visible{
  outline: 0.1em solid $c-rgb-second;
}
