.board{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-width: 600px;
  height: calc(100vh - 220px);
  min-height: 200px;
  border: 2px solid var(--contrast);
  background: var(--background);
  overflow: auto;
}
.board .row{
  display: flex;
}
.board.running .cell{
  cursor: default;
  pointer-events: none;
}
