@import '../../Styles/variables';
@import '../../Styles/mixins';

.board{
  @include centered-flex();
  width: 80%;
  min-width: 600px;
  height: calc(100vh - 220px);
  min-height: 200px;
  border: 2px solid $c-contrast;
  background: $c-background;
  overflow: auto;
}
.board .row{
  display: flex;
}
.board.running .cell{
  cursor: default;
  pointer-events: none;
}
@media only screen and (max-width: 600px){
  .board{
    min-width: 300px;
    width: 100%;
    margin: 5vmin 0;
    height: 85vh;
  }
}
