@import '../../Styles/mixins';

.start{
  @include centered-flex(column);
  min-width: 100%;
  min-height: 100vh;
  padding: 30px;
}
.buttons{
  @include centered-flex(column);
  min-height: calc(100vh - 300px);
  gap: 10px;
}
@media only screen and (max-width: 600px){
  .start{
    min-height: calc(100vh - 30px);
  }
  .buttons{
    min-height: calc(100vh - 330px);
  }
}
