@import '../../Styles/variables';
@import '../../Styles/mixins';

.header{
  @include centered-flex(column);
  cursor: default;
  color: $c-foreground;
  text-transform: uppercase;
  font-size: 80px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  line-height: 1;
  -webkit-text-stroke: 2px $c-contrast;
  text-align: center;
  text-shadow:
    -4px 4px 1px $c-rgb-first,
    -8px 8px 0 $c-rgb-second;
  transition: text-shadow 0.2s ease-in-out;
  user-select: none;
}
.header:hover,
.header:focus-visible{
  text-shadow:
    -3px 3px 1px $c-rgb-first,
    -6px 6px 0 $c-rgb-second;
}
.active{
  cursor: pointer;
}
.active:focus-visible{
  outline: 0.02em solid $c-rgb-second;
}
