.header{
  display: flex;
  cursor: default;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 80px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  line-height: 1;
  -webkit-text-stroke: 2px #000;
  text-align: center;
  text-shadow:
    -4px 4px 1px #ffff00ee,
    -8px 8px 0 #ff00ffcc;
  transition: text-shadow 0.2s ease-in-out;
  user-select: none;
}
.header:hover{
  text-shadow:
    -3px 3px 1px #ffff00ee,
    -6px 6px 0 #ff00ffcc;
}
.active{
  cursor: pointer;
}
