@import '../../Styles/variables';

.mark{
  display: block;
  position: fixed;
  bottom: 1vh;
  right: 1vw;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 16px;
}
.mark a{
  color: $c-contrast;
  text-decoration: none;
}
.mark a:hover,
.mark a:focus-visible{
  text-decoration: underline;
}
.mark a:focus-visible{
  outline: 0.1em solid $c-rgb-second;
}
@media only screen and (max-width: 600px){
  .mark{
    position: static;
    width: 100%;
    text-align: center;
    padding-bottom: 2vmin;
  }
  .mark a{
    text-decoration: underline;
  }
}
