@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --background: #eceff1;
  --foreground: #ffffff;
  --contrast: #000000;
  --rgb-first: #ffff00ee;
  --rgb-second: #ff00ffcc;
}
body{
  background: var(--background) url('./Assets/bg.png');
}
