@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #555;
}
.header{
  color: white;
  text-transform: uppercase;
  font-size: 60px;
  margin: 30px;
  font-family: 'Staatliches', cursive;
  line-height: 1;
}
.main{
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.board{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
  width: 700px;
  height: 500px;
  border: 2px solid #333;
  overflow: auto;
}
.board .row{
  display: flex;
  gap: 1px;
}
.board.running .cell{
  cursor: default;
  pointer-events: none;
}
.cell{
  width: 25px;
  height: 25px;
  border: 1px solid #333;
  border-radius: 3px;
  cursor: pointer;
}
.cell.alive{
  background: #000;
}
